<!doctype html>
<html style="height:100%">
	<head>
		<meta charset="utf-8">
		<title>35mm</title>
		<!-- *** Load the AngularJS libraries here. *** -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
		 
		
		<!-- *** Load the jQuery and jQueryUI libraries here. *** -->		
	  	<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

		<!-- *** Load jQueryUI default CSS from Google CDN. *** -->
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

		<!-- Load the Controller -->
		<script src="OnARollController.js"></script>

		
		 		  
	</head>
	<body style="height:100%;width:100%;font-family: 'Courier New', Courier, monospace" ng-app="OnARoll" ng-controller="OnARollController">
		<!--REUSABLE NG-IF BASED DIALOG FOR POPUPS -->
		<div style="width: 100%;height: 100%;z-index: 100;position: absolute;top: 0%;left: 0%;" ng-show="showPopup.value">
			<!--Add/View Shots Dialog-->
			<div ng-if="popups.AddShotDialog.show" style="overflow-y:scroll;z-index: 102;width: 80%;height: 80%;margin-left: 10%;margin-right:10%;position: absolute;top: 9%;left: 0%;border-radius: 2px;border: solid lightseagreen 4px; background-image: linear-gradient(snow, AliceBlue);align-content: center;text-align: center;">
				<span style="position: absolute;right: 0px;text-anchor: righ;cursor: pointer;font-weight: 700;color: lightseagreen;border: solid lightseagreen 1px;" ng-click="closeDialog()">CLOSE</span>
				<div style="width: 100%;padding-bottom: 10%;text-align: center;"><p style="font-size: 24px;">Add/View Shots a New Shot</p></div>
				<table style="width:100%"><thead><tr style="text-align:center"><th>#</th><th>ISO</th><th>S.S</th><th>APERTURE</th><th>DESC.</th><th><!--Empty for Button--></th></tr></thead>
					<tbody style="font-weight: 800;">
						<tr ng-repeat="shot in popups.shotsDialog.shots track by $index">
							<td style="text-align:left">{{$index + 1}}</td>						
							<td style="text-align:left">{{shot.iso}}</td>
							<td style="text-align:left">{{shot.ss}}</td>
							<td style="text-align:left">{{shot.aperture}}</td>
							<td style="text-align:left;overflow-x: scroll;width: 150px;">{{shot.description}}</td>
							<td><!--Empty for Button--></td>
						</tr>
						<tr style="border-bottom: solid 2px lightseagreen;"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
						<tr>
							<td><!--Empty for Counter--></td>					
							<td style="text-align:left"><input type="number" style="color: snow;border:none;background-color: lightseagreen;" ng-model="popups.AddShotDialog.info.iso"></td>
							<td style="text-align:left"><select style="color: snow;border:none;background-color: lightseagreen;" ng-options="shutter for shutter in ssOptions track by shutter" style="border:none" ng-model="popups.AddShotDialog.info.ss">
								<option value="">Select S.S</option>
							</select></td>
							<td style="text-align:left"><select style="color: snow;border:none;background-color: lightseagreen;" ng-options="aperture for aperture in apertureOptions track by aperture" style="border:none" ng-model="popups.AddShotDialog.info.aperture">
								<option value="">Select Aperture</option>
							</select></td>
							<td style="text-align:left;"><input type="text" style="color: snow;border:none;background-color: lightseagreen;overflow-x: scroll;width:150px" ng-model="popups.AddShotDialog.info.description"></td>
							<td ><button ng-disabled="!verify('shot')" ng-click="submitNewShot()" style="color: snow;border: none;background-color: lightseagreen;font-weight: 700;cursor: pointer;">Submit</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--Add Camera Dialog-->
			<div ng-if="popups.AddCameraDialog.show" style="z-index: 102;width: 80%;height: 80%;margin-left: 10%;margin-right:10%;position: absolute;top: 9%;left: 0%;border-radius: 2px;border: solid lightseagreen 4px; background-image: linear-gradient(snow, AliceBlue);align-content: center;text-align: center;">
				<span style="position: absolute;right: 0px;text-anchor: righ;cursor: pointer;font-weight: 700;color: lightseagreen;border: solid lightseagreen 1px;" ng-click="closeDialog()">CLOSE</span>
				<div style="width: 100%;padding-bottom: 10%;text-align: center;"><p style="font-size: 24px;">Create a New Roll</p></div>
				<div style="width: 100%;padding-bottom: 10%;text-align: center;"><p style="font-size: 24px;">Adding Roll To:{{popups.AddRollDialog.info.camera}}</p></div>
				<div style="width:100%;height:5%;padding-top:1%;padding-bottom:1%;align-content: center;text-align: center;font-weight: 700;">Film Stock:<input style="box-sizing: border-box;border: solid lightseagreen 1.2px;border-radius: 2px;color: snow;background-color: lightseagreen;padding: 10px 15px" type="text" ng-model="popups.AddRollDialog.info.stock"></div>
				<div style="width:100%;height:5%;padding-top:1%;padding-bottom:1%;align-content: center;text-align: center;font-weight: 700;">Name:<input style="box-sizing: border-box;border: solid lightseagreen 1.2px;border-radius: 2px;color: snow;background-color: lightseagreen;padding: 10px 15px" type="text" ng-model="popups.AddRollDialog.info.name"></div>
				<div style="width:100%;height:5%;padding-top:1%;padding-bottom:1%;align-content: center;text-align: center;font-weight: 700;">Description:<input style="box-sizing: border-box;border: solid lightseagreen 1.2px;border-radius: 2px;color: snow;background-color: lightseagreen;padding: 10px 15px" type="text" ng-model="popups.AddRollDialog.info.description"></div>
				<button ng-click="submitNewRoll()" ng-disabled="!verify('camera')">Submit</button>
			</div>
			<!--Add Rolls Dialog-->
			<div ng-if="popups.AddRollDialog.show" style="z-index: 102;width: 80%;height: 80%;margin-left: 10%;margin-right:10%;position: absolute;top: 9%;left: 0%;border-radius: 2px;border: solid lightseagreen 4px; background-image: linear-gradient(snow, AliceBlue);align-content: center;text-align: center;">
				<span style="position: absolute;right: 0px;text-anchor: righ;cursor: pointer;font-weight: 700;color: lightseagreen;border: solid lightseagreen 1px;" ng-click="closeDialog()">CLOSE</span>
				<div style="width: 100%;padding-bottom: 10%;text-align: center;"><p style="font-size: 24px;">Create a New Roll</p></div>
				<div style="width: 100%;padding-bottom: 10%;text-align: center;"><p style="font-size: 24px;">Adding Roll To:{{popups.AddRollDialog.info.camera}}</p></div>
				<div style="width:100%;height:5%;padding-top:1%;padding-bottom:1%;align-content: center;text-align: center;font-weight: 700;">Film Stock:<input style="box-sizing: border-box;border: solid lightseagreen 1.2px;border-radius: 2px;color: snow;background-color: lightseagreen;padding: 10px 15px" type="text" ng-model="popups.AddRollDialog.info.stock"></div>
				<div style="width:100%;height:5%;padding-top:1%;padding-bottom:1%;align-content: center;text-align: center;font-weight: 700;">Name:<input style="box-sizing: border-box;border: solid lightseagreen 1.2px;border-radius: 2px;color: snow;background-color: lightseagreen;padding: 10px 15px" type="text" ng-model="popups.AddRollDialog.info.name"></div>
				<div style="width:100%;height:5%;padding-top:1%;padding-bottom:1%;align-content: center;text-align: center;font-weight: 700;">Description:<input style="box-sizing: border-box;border: solid lightseagreen 1.2px;border-radius: 2px;color: snow;background-color: lightseagreen;padding: 10px 15px" type="text" ng-model="popups.AddRollDialog.info.description"></div>
				<button ng-click="submitNewRoll()" ng-disabled="!verify('roll')">Submit</button>
			</div>
		</div>
		<div style="width:100%;height:100%" ng-style="{'filter': showPopup.value ? 'blur(2px)' : 'none'}">			
			<!--LOGIN PAGE -->	
			<div style="width:100%;background-image: linear-gradient(AliceBlue, snow);height:100%" ng-if="!loggedIn.value">
				<div style="position:absolute;top: 3% ;text-align:center;font-family: 'Courier New', Courier, monospace;font-size: 28pt;font-weight: 700;width:100%">On-A-Roll</div>
				<div style="position:absolute;top: 8%;text-align: center;font-family: 'Courier New', Courier, monospace;font-size: 20pt;width:100%">Never forget the settings or film you used on your analog camera again!</div>
				<span style="position:absolute;top: 50%;width: 100%;text-align: center;">Enter Username: <input style="box-sizing: border-box;border: solid lightseagreen 1.2px;border-radius: 2px;color: snow;background-color: lightseagreen;padding: 10px 15px" type="text" ng-model="details.username"></span>
				<span style="position:absolute;top: 55%;width: 100%;text-align: center;"><button style="font-weight:800;text-decoration: underline;border:none;border-radius: 2px;color: snow;background-color: lightseagreen;padding: 10px 15px" ng-click="login()">Login</button></span>
			</div>
			<!--MAIN ROLL DISPLAY PAGE -->	
			<div style="width:100%; background-image: linear-gradient(AliceBlue, snow);height:100%;text-align: center;align-content: center;" ng-if="loggedIn.value"> 
				<span style="font-size: 24px;font-weight: 700;">Welcome! {{details.username}}</span>
				<div style="width: 70%;padding-right: 14%;padding-left: 14%;" ng-repeat="(key, value) in main.rolls track by $index">
					<span style="font-size: 16px;font-weight: 700;width: 100%;background-color:seashell;" ng-click="value.expand = !value.expand">Camera : {{key}} (Rolls: {{value.rolls.length}})</span>
					<div style="width: 100%;align-content: center;text-align: center;" ng-show="value.expand">
						<table><thead><tr style="text-align:center"><th>Stock</th><th>Name</th><th>Description</th><th>Shots:</th></tr></thead>
							<tbody>
								<tr ng-repeat="val in value.rolls">
									<td style="text-align:left">{{val.stock}}</td>						
									<td style="text-align:left">{{val.name}}</td>
									<td style="text-align:left">{{val.description}}</td>
									<td style="font-weight: 800;text-align:left;"><button ng-click="openShotsDialog(val._id, val.shots.shots)">SHOTS</button> ({{val.shots.shots.length}})</td>
								</tr>
							</tbody>
						</table>
						<span style="width:100%;align-content: center;text-align: center;"><button ng-click="openAddRollDialog(key)">Add New Roll</button></span>
					</div>
				</div>
			</div>
			
		</div>
		
	</body>
</html>