<!doctype html>
<html style="height:100%">
	<head>
		<meta charset="utf-8">
		<title>35mm</title>
		<!-- *** Load the AngularJS libraries here. *** -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
		 
		
		<!-- *** Load the jQuery and jQueryUI libraries here. *** -->		
	  	<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

		<!-- *** Load jQueryUI default CSS from Google CDN. *** -->
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

		<!-- Load the Controller -->
		<script src="OnARollController.js"></script>

		
		 		  
	</head>
	<body style="height:100%;width:100%">
		<div style="width:100%;height:100%" ng-app="OnARoll" ng-controller="OnARollController">		
			<div style="width:100%;background-color:seashell;height:100%" ng-if="!loggedIn">
				<div style="position:absolute;top: 3% ;text-align:center;font-family: 'Courier New', Courier, monospace;font-size: 28pt;font-weight: 700;width:100%">On-A-Roll</div>
				<div style="position:absolute;top: 8%;text-align: center;font-family: 'Courier New', Courier, monospace;font-size: 20pt;width:100%">Never forget the settings or film you used on your analog camera again!</div>
				<span style="position:absolute;top: 50%;width: 100%;text-align: center;">Enter Username: <input type="text" ng-model="details.username"></span>
				<span style="position:absolute;top: 55%;width: 100%;text-align: center;"><button ng-click="login()">Login</button></span>
			</div>
			<div style="width:100%;background-color:seashell;height:100%" ng-if="loggedIn">
				Welcome : {{details.username}}
				<div ng-repeat="(key, value) in main.rolls track by $index">
					<span>Camera : {{key}}</span>
					<ul>
						<li ng-repeat="val in value track by $index">Name: {{val.name}}, Desciption: {{val.desciption}} </li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>